* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 3em);
}

.square {
  background-color: white;
  /* width: 3em; */
  height: 3.5em;
  cursor: pointer;
  /* border: 1px solid black; */
}
